@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.container{
  display: flex;
justify-content: center;
align-items: center;
margin: 25px;
}

/*
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; 

*/

/* HTML: <div class="loader"></div> */
.loader {


  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; 

  
  width: 60px;
  height: 25px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s:-1;
}
@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

